<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Startmin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

              

                <ul class="nav navbar-right navbar-top-links">
                   
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Usuário<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                           
                            <li><a href="#" id="config"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="../../control/fornecedor.php?action=logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            
                            <li>
                                <a href="#" id="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                           
                                    <li>
                                        <a href="#" id="form_cardapio"><i class="fa fa-pencil-square-o"> </i> Cadastro</a>
                                    </li>
                                    <li>
                                        <a href="#" id="lista_cardapio"> <i class="fa fa-list"></i> Lista Cardapio</a>
                                    </li>
                                     <li>
                                         <a href="#" id="form_complemento"><i class="fa fa-pencil-square-o"></i> Complemento</a>
                                    </li>
                                    <li>
                                        <a href="#" id="lista_complemento"><i class="fa fa-list"></i> Lista Complemento</a>
                                    </li>
                               
                                <!-- /.nav-second-level -->
                           
                            
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
           
  